{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
     <div class="box">
     <div class="box-header">
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
     </div>
     <div class="box-body">

    <div class="col-sm-12">

    <div class="col-sm-6">
    <label>Details</label>

    <div class="list-group">

      {% for name, value in object.get_fields %}
        {% if value %}
        <div class="list-group-item">
          {{ name }} => {{ value }}<br />
        </div>
        {% endif %}
      {% endfor %}

    </div>
     </div>
    <div class="col-sm-6">

    <label>Coins</label>

    <div class="list-group">
        {% for coin in user.coins %}
        <div class="list-group-item">
             <a href="{% url 'coins:coinDetail' coin.slug %}" >
            {{ coin }}
             </a>
        </div>
        {% endfor %}

    </div>
    </div>

    </div>

    </div>
    </div>
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 ">
    <a class="btn btn-primary" href="{% url 'users:update' %}">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

